body {
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(45deg, rgb(150, 19, 19), rgb(150, 50, 50), rgb(230, 120, 50));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  color: white;  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  text-decoration: underline;
  font-family: comic, sans-serif; 
}

hr {
  margin: 5px 0 10px 0;
}

.webpagelink {
  margin-left: 8px;
}

input#search {
  padding: 3px;
  color: black;
}

span {
  padding: 0 4px;
}

* {
  text-indent: 10px each-line;
}