@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    list-style-type: square;
    margin-left: 30px;
}

p {
    text-indent: 15px;
    font-weight: lighter;
    letter-spacing: 0.2px;
    font-size: 22px;

}

@layer components {
    p {
        @apply mb-8 text-justify text-stone-100
    }
    
    code {
      @apply w-[60%] bg-stone-800 block p-3 m-3 border border-white rounded-md text-white whitespace-nowrap
    }
    
  }